<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- appender -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">   
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>d:/log/dtweb.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>31</maxHistory> 
		</rollingPolicy>  
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">   
        	<charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>   
        </encoder> 
      
    </appender>
	
	   
	<!-- logger -->
	<root>
		<level value="info"/>
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
 	<logger name="cn.disruptive">
 		<level value="DEBUG"/>
 	</logger>
 	
</configuration>